# Copyright (c) 2024 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

if SOC_FAMILY_REALTEK_AMEBA

config REALTEK_AMEBA_HAL_LIB
	bool "RealTek Ameba HAL library"
	default y
	help
	  This option enables the Realtek Ameba HAL library.

rsource "ameba*/Kconfig"

endif # SOC_FAMILY_REALTEK_AMEBA
