# Copyright (c) 2024 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

config REALTEK_AMEBA_HAL_LIB
	bool "RealTek Ameba HAL library"
	help
	  This option enables the Realtek Ameba HAL library.
